@font-face {
    font-family: 'KulminoituvaRegular';
    src: url('http://www.miketaylr.com/f/kulminoituva.ttf');
}

@font-face {
    font-family: Font1;
    src: url('fonts/Font1.otf');
}

@font-face {
    font-family: Font2;
    src: url('fonts/Font2.ttf');
}

@font-face {
    font-family: Font3;
    src: url('fonts/Font3.ttf');
}

@font-face {
    font-family: Font4;
    src: url('fonts/Font4.ttf');
}

@font-face {
    font-family: Font5;
    src: url('fonts/Font5.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}